<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        nav{
            background-color: gray;
            display: flex;
            justify-content: space-between;
            padding: 0.5rem;
            font-size: 2rem;
        }
    </style>
    <title>Home - MumbaiKar Fix</title>
</head>
<body>
    <nav>
        <h1>MumbaiKar Fix</h1>
        <div>
           <span><a href="/new">Add Issues</a></span> 
            <p>user : <%= username %></p>
        </div>
       
    </nav>    
    <main>
        <h2>Current Issues</h2>
    </main>
</body>
</html>